#!/usr/bin/env python3
import structlog

from {{ python_package_import_name }}.config.app import settings
from {{ python_package_import_name }}.config.log_config import init_logging

init_logging(
    settings.log_format,
    settings.log_base_level,
    settings.log_app_level,
    "{{ python_package_import_name }}",
)

logger = structlog.stdlib.get_logger()


def main() -> None:
    logger.info("App driver started")
    logger.info("App driver completed")


if __name__ == "__main__":
    main()
