[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "v$version"
version_scheme = "pep440"
version = "0.0.1"
major_version_zero = true
version_files = ["src/{{ python_package_import_name }}/_version.py"]
