[project]
name = "{{ python_package_distribution_name }}"
description = "{{ project_description }}"
authors = [
    {name = "{{ author_fullname }}", email = "{{ author_email }}"}
]
license = {text = "{{ copyright_license }}"}
readme = "README.md"
requires-python = "{{ python_package_requires_python }}"
dependencies = [
    "structlog~=24.4",
    "rich~=13.9",
    "dynaconf~=3.2",
    "jinja2~=3.1",
]
dynamic = ["version"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3"
]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"


[tool.pdm.version]
source = "file"
path = "src/{{python_package_import_name}}/_version.py"

[tool.pdm.dev-dependencies]
dev = [
    # Testing
    "pytest~=8.3",
    "pytest-asyncio~=0.24",
    "pytest-cov~=6.0",

    # Linting
    "ruff~=0.7.1",
    "black~=24.10",

    # Other dev tools
    "jupyterlab~=4.3",
    "jupytext~=1.16",
    "python-lsp-server[rope]~=1.12",
    "commitizen~=3.30",
]

[tool.ruff.lint]
extend-select = [
    # Also sort import on ruff check
    "I"
]

[tool.pytest.ini_options]
testpaths = [
    "tests"
]
addopts = [
    "-ra",
    "--quiet",
    "--strict-markers",
    "--import-mode=importlib",
]
asyncio_mode="auto"
markers = [
    "slow: mark tests as slow"
]
filterwarnings = [

]
