[project]
name = "{{ python_package_distribution_name }}"
description = "{{ project_description }}"
authors = [
    {name = "{{ author_fullname }}", email = "{{ author_email }}"}
]
license = {text = "{{ copyright_license }}"}
readme = "README.md"
requires-python = "{{ python_package_requires_python }}"
dependencies = [
    "structlog~=23.2",
    "rich~=13.6",
    "dynaconf~=3.2",
]
dynamic = ["version"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3"
]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"


[tool.pdm.version]
source = "scm"

[tool.pdm.build]
package-dir = "src"

[tool.pdm.dev-dependencies]
test = [
    "pytest~=7.4",
]
lint = [
    "black~=23.9",
    "jupyter-black~=0.3",
    "usort~=1.0",
    "ufmt~=2.2",
]
dev = [
    "jupyterlab~=4.0",
    "python-lsp-server[rope]~=1.8",
]

[tool.ruff]
include = ["*.py", "*.pyi", "**/pyproject.toml", "*.ipynb"]
