[project]
name = "{{ python_package_distribution_name }}"
description = "{{ project_description }}"
authors = [
    {name = "{{ author_fullname }}", email = "{{ author_email }}"}
]
license = {text = "{{ copyright_license }}"}
readme = "README.md"
requires-python = "{{ python_package_requires_python }}"
dependencies = [
    "structlog~=24.4",
    "rich~=13.9",
    "dynaconf~=3.2",
    "jinja2~=3.1",
]
dynamic = ["version"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3"
]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"


[tool.pdm.version]
source = "scm"

[tool.pdm.build]
package-dir = "src"

[tool.pdm.dev-dependencies]
test = [
    "pytest~=8.3",
    "pytest-asyncio~=0.24",
    "pytest-cov~=6.0",
]
lint = [
    "ruff~=0.7.1",
    "black~=24.10",
]
dev = [
    "jupyterlab~=4.3",
    "python-lsp-server[rope]~=1.12",
]

[tool.ruff]
include = ["*.py", "*.pyi", "**/pyproject.toml", "*.ipynb"]

[tool.pytest.ini_options]
addopts = "-ra --quiet --strict-markers"
asyncio_mode="auto"
markers = [
    "slow: mark tests as slow"
]
filterwarnings = [

]
