# {{ project_name }}

{{ project_description }}

## Getting start

To start working on this repository, first you need to install 2 external tools:

- [uv](https://docs.astral.sh/uv/getting-started/installation/): package manager
- [pre-commit](https://pre-commit.com/): for commit hook

Then, you can initialize your working directory by running

```bash
uv sync
pre-commit install
```
